@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

*, *::before, *::after {box-sizing: border-box;}

body{
    background: #0D0A2C;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overscroll-behavior: none;
    -webkit-overscroll-behavior: none;
	-webkit-overflow-scrolling: touch
}

.container{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    overflow-x: hidden;
    scroll-snap-align: start;
}

section:nth-child(2)
{
    top: 100vh;
}

section:nth-child(3)
{
    top: 200vh;
}

section:nth-child(4)
{
    top: 300vh;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-center-col{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.wrap{
    height: auto;
    width: 100%;
}

.flex-left{
    width: 60%;
    height: 100%;
}

.flex-right{
    width: 40%;
    height: 100%;
}

@media (orientation: portrait) 
{
    .flex-center-col{
        flex-direction: column-reverse;
        justify-content: center;
    }

}

.hero-glow{
    position: absolute;
    width: 100%;
    top: -250px;
    z-index: 1;
}

.mobile-glow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    background-image: url(/assets/glow-obj/screen-1.svg);
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: none;
}

@media (max-width: 1300px){
    .hero-glow{
        top: -150px;
    }
}



@media (orientation: portrait) 
{
    .hero-glow{
        display: none;
    }

    .mobile-glow{
        display: block;
    }
}

.wrap-mesh{
    position: absolute;
    width: 100%;
    height: 400%;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-image: url(/assets/mesh/mesh.svg);
}

/* NAV BAR CSS */

.logo h1{
    z-index: 199998;
    color: white;
    font-size: clamp(1.2rem, 1.2rem, 2rem);
    font-weight: 600;  
    user-select: none;
}

.outline{
    position: relative;
    width: 110%;
    height: 3px;
    background-color: #FFC0FF;
    left: 10%;
}

.thick{
    height: 5px;
}

.outline-a{
    position: relative;
    width: 50%;
    height: 3px;
    background-color: #FFC0FF;
    left: 10%;
}

.logo:hover{
    cursor: pointer;
}

.logo-a:active{
    text-decoration: none;
}

.logo-a:active .logo h1{
    transform: translateX(4px);
}

.logo:hover .outline{
    animation-name: linemove;
    animation-duration: 0.5s;
}

@keyframes linemove {
    from {width: 0%;}
    to {width: 110%;}
}

@keyframes linemoves {
    from {width: 0%;}
    to {width: 50%;}
}

.primary-header{
    align-items: center;
    position: fixed;
    width: 100%;
    height: 150px;
    padding: 0 5rem 0 5rem;
    top: 0;
    justify-content: space-between;
    z-index: 99998;
}


.mobile-nav-toggle{
    display: none;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a{
    text-decoration: none;
    margin-inline-end: 4rem;
    color: white;
    font-weight: 300;
    z-index: 99999;
    user-select: none;
}

.primary-navigation li:hover .outline-a{
    animation-name: linemoves;
    animation-duration: 0.5s;  
}

.primary-navigation li a:active .primary-navigation li a{
    transform: translateX(4px);
    margin-inline-end: 3rem;
}

@media (orientation: portrait) 
{
    .primary-navigation{
        font-size: 1.3rem;
        --gap: 4em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 0;
        flex-direction: column;
        padding: min(50vh,50rem) 2em;
        background: hsl(0 0% 0% / 0.75);
        backdrop-filter: blur(1rem);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation a{
        margin-inline-end: 0;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateY(0%);
    }
    
    .mobile-nav-toggle{
    display: flex;
    z-index: 99999;
    margin-right: 1rem;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
    z-index: 99999;
    }

    .primary-header{
        padding: 0 2rem 0 2rem;
    }

}

.flex{
    display: flex;
    gap: var(--gap, 1.5rem);
}

/* NAV BAR CSS END */

/* HERO TEXT */

.hero-text{
    font-style: normal;
    font-weight: 400;
    color: #898CA9;
    font-size: clamp(1.5rem, 2vw, 4rem);
    text-align: center;
    user-select: none;
}

.text-main{
    font-weight: 900;
    font-size: clamp(3rem, 5vw, 6rem);
    line-height: 130%;
    color: #FFFFFF;
    text-align: center;
    user-select: none;
}

.hero-text-wrap{
    width: fit-content;
}

.hey{
    position: relative;
    left: 0;
    width: fit-content;
}

.web-dev{
    font-size: clamp(2rem, 3vw, 5rem);
}

.btn-wrap{
    width: min(30vw, 40%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 500px){
    .web-dev{
        font-size: 25px;
    }
    .btn-wrap{
        width: 90%;
    }
}



.btn{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    border: none;
    margin-top: 5%;
    user-select: none;
}

.btn-project{
    background: linear-gradient(95.94deg, #8220FF 0%, #C57DFD 70.43%);
}

.btn-cv{
    border: 2px solid #C57DFD;
    background: transparent;
}

.btn:hover{
    cursor: pointer;
    font-style: italic;
    box-shadow: 3px 3px 10px#000000;
}

/* HERO SECTION ENDS */

/* ABOUT ME SECTION  */

.mann-img{
    position: absolute;
    top: 80vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 4;
    height: 200px;
    width: 200px;
}

.mann-img-mobile{
    position: absolute;
    top: 75vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 4;
    display: none;
    height: 150px;
    width: 150px;
}

@media (orientation: portrait) 
{
    .mann-img{
        display: none;
    }

    .mann-img-mobile{
        display: block;
    }
}

.subsection-text-wrap{
    width: 70%;
    height: 80%;
    align-items: flex-start;
    justify-content: center;
}

.section-title h2{
    font-weight: 900;
    font-size: clamp(2rem, 3vw, 5rem);
    line-height: 130%;
    color: #FFFFFF;
    text-align: center;
    user-select: none;
}

.subsection-text-wrap p{
    font-weight: 400;
    font-size: 17px;
    word-spacing: 1.5px;
    line-height: 24px;
    color: #898CA9;
    width: 90%;
    margin-top: 5%;
}

@media (orientation: portrait) 
{
    .flex-left{
        height: 80%;
        width: 100%;
    }
    .flex-right{
        height: 20%;
        width: 100%;
    }
    .subsection-text-wrap p{
        text-align: justify;
        width: 100%;
    }
    .subsection-text-wrap{
        width: 80%;
    }
}

.section-title:hover .outline{
    animation-name: linemove;
    animation-duration: 0.5s;
}

.highlight{
    color: #FFC0FF;
}

.bolded{
    font-weight: 500;
    font-size: 20px;
}

.skills-wrap{
    margin-top: 1%;
    width: 90%;
    margin-left: 5%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-skills, .right-skills{
    width: 100%;
    height: auto;
}

.left-skills ul li, .right-skills ul li{
    font-weight: 400;
    font-size: 17px;
    word-spacing: 1.5px;
    line-height: 24px;
    color: #898CA9;
    width: 90%;
    margin-top: 1%;
}

/* ABOUT ME SECTION ENDS */

/* PROJECTS SECTION STARTS */

.project-img-wrap{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.project-img-wrap:hover .color-overlay{
    opacity: 1;
}

.color-overlay{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(197, 125, 253, 0.5);
    opacity: 0;
    z-index: 4;
    transition: 1s linear;
    color: white;
    font-size: 1.5rem;
}

.project-img{
    width: 100%
}

.full-wrap{
    width: 80%;
}

.section-title h3{
    font-weight: 400;
    font-size: clamp(1.5rem, 2vw, 4rem);
    line-height: 130%;
    color: #FFFFFF;
    text-align: center;
    user-select: none;
}

.project-btn-mob{
    width: 90%;
}

.align-left{
    align-items: flex-start;
}

@media (orientation: portrait) 
{
    .project-btn-mob{
        width: 100%;
    }

    .reverse{
        flex-direction: column;
    }

    .align-left{
        align-items: center;
    }
}